asgiref==3.5.0
dj-database-url==0.5.0
Django==4.0.2
django-heroku==0.3.1
django-htmx==1.9.0
django-unixtimestampfield==0.5.0
gunicorn==20.1.0
importlib==1.0.4
numpy==1.22.2
pandas==1.4.1
psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2021.3
django-filter==21.1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
whitenoise==6.0.0