{% extends "main/base.html" %}  

{% block content %}

<h2 style="color:grey;">Welcome, {{ username }}</h2> <br>
<a class="btn btn-primary" href="{% url 'main:make_request' %}" role="button">Make Request</a>
<h3>My Requests</h3>
<hr size="1" width="100%" color="grey">  


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Reference No.</th>
      <th scope="col">Status</th>
      <th scope="col">Event Name</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Need Drive By Date</th>
    </tr>
  </thead>
    <tbody>
      {% for request in requests %}
        <tr>
          <th scope="row">{{ request.request_reference_no }}</th>
          <td>{{ request.request_status }}</td>
          <td>{{ request.request_creation_date }}</td>
          <td>{{ request.request_creation_date }}</td>
          <td>{{ request.need_drive_by_date }}</td>
        </tr>
      {% empty %}
      <h3>You do not have any requests at the moment</h3>
      {% endfor %} 
  </tbody>
</table>


<h3>Active Hard Drives</h3>
<hr size="1" width="100%" color="grey">  

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Hard Drive Serial Number</th>
      <th scope="col">Expected Return Date</th>
      <th scope="col">Associated Request No.</th>
    </tr>
  </thead>
  <tbody>
    {% for hard_drive in hard_drives %}
      <tr>
        <th scope="row">{{ hard_drive.serial_number }}</th>
        <td>{{ hard_drive.expected_hard_drive_return_date }}</td>
        <td>{{ hard_drive.request.request_reference_no }}</td>
      </tr>
    {% empty %}
    <h3>No hard drives listed at the moment</h3>
    {% endfor %} 
  </tbody>
</table>


{%endblock%}
