<form hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="row">    
        <div class="col">
            <br>
            <div class="assignment-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Hard Drive Serial Number*</th>
                            <th scope="col">Manufacturer*</th>
                            <th scope="col">Connection Port Type</th>
                            <th scope="col">Hard Drive Size</th>
                            <th scope="col">Classification*</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for drive in hard_drives %}
                            <tr>
                                <td>{{ drive.serial_number }}</td>
                                <td>{{ drive.manufacturer }}</td>
                                <td>{{ drive.connection_port }}</td>
                                <td>{{ drive.hard_drive_size }}</td>
                                <td>{{ drive.classification }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br>
        </div>          
    </div> 

    <div class="row">                               
        <div class="col">  
            <div class="input-group mb-5"> 
                <input 
                    type="hidden" 
                    id="request_id" 
                    name="request_id" 
                    value="{{ req.request_reference_no }}"
                >
                <input 
                    type="text"
                    class="form-control" 
                    id="serial-number" 
                    name="serial-number" 
                    placeholder="Enter Serial Number"
                >
                <div
                    class="btn btn-success input-group-append"
                    hx-post="{% url 'main:assign_hard_drive' %}" 
                    >
                    Add Hard Drive
                </div>
            </div>
        </div>
    </div>

    <div class="row">                               
        <div class="col">   
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" rows="3" readonly value="Description"></textarea>
            </div>
        </div>
    </div>
</form>