<div id="hard-drive-connection-port">

    {% for hard_drive_connection_port in hard_drive_connection_ports %}
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{hard_drive_connection_port.name}}

            <span
                class = "badge badge-danger badge-pill"
                style="cursor: pointer;"
                hx-delete="{% url 'main:delete-hard-drive-connection-port' hard_drive_connection_port.pk %}"
                hx-target="#hard-drive-connection-port"
                hx-confirm="Are you sure you want to delete this?"
                >
                X
            </span>
        </li>
        
    {% endfor %}

</div>