<!--This file needs to be its different comment because it is reloaded using
    HTMX in order to add a new hard drive request to the form and not have to
    refresh the page we only refresh this component.
-->

<form action="{% url 'main:make_request' %}" method="POST" id="request-form">
    {% csrf_token %}
    {% load bootstrap %}
    <div class="container-fluid" style="border:1px solid #cecece;">
        <div class="row">                               
            <div class="col">
                <div class="row">                               
                    <div class="col-1">
                        <br>
                        <h4>Event</h4>
                    </div>
                    <div class="col">   
                        <br> 
                        <div class="container-fluid" style="border:1px solid #cecece;">
                            <div class="row">    
                                <div class="col">
                                    <br>    
                                    <h5>Event Attributes</h5>
                                    <div class="form-group">
                                        {{event_form.event_name | bootstrap}}
                                    </div>
                                    <div class="form-group">
                                        {{event_form.event_description | bootstrap}}
                                    </div>
                                    <div class="form-group">
                                        {{event_form.event_location | bootstrap}}
                                    </div>
                                    
                                    <div class="form-group">
                                        {{event_form.event_type | bootstrap}}
                                            
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        {{event_form.length_of_reporting_cycle | bootstrap}}
                                    </div>    
                                            
                                    <div class="form-group">
                                        {{event_form.event_status | bootstrap}}
                                    </div>
                                    <br>
                                </div>     

                                <div class="col">
                                    <br>
                                    <h5>Event Dates</h5>
                                    <div class="form-group">
                                        {{event_form.event_start_date | bootstrap}}
                                        <i class="fas fa-calandar-alt"></i>
                                    </div>
                                    <div class="form-group">
                                        {{event_form.event_end_date | bootstrap}}
                                    </div>
                                    <div class="form-group">
                                        {{event_form.need_drives_by_date | bootstrap}}
                                    </div>
                                    <h5>Event Participants</h5>
                                    <div class="row" style="margin-left:1%;">
                                        <div class="col">
                                        <div class="form-group">
                                            {{event_form.teamLeadName | bootstrap}}
                                        </div>
                                        <div class="form-group">
                                            {{event_form.analystNames  | bootstrap}}
                                        </div>
                                    </div>
                                </div>
                                        
                                {{event_form.errors}}  
                                    
                                <br>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class="row">                               
                        <div class="col-1">
                            <br>
                            <h4>Hard Drive Requests</h4>
                        </div>
                        <div class="col">   
                            <br> 
                            
                        
                            <div class="container-fluid" style="border:1px solid #cecece;">
                                <div class="row">    

                                    <div class="container-fluid" >
                                        <div class="row">    
                                            <div class="col">
                                                <br>    
                                                <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Storage Size</th>
                                                            <th scope="col">Classification</th>
                                                            <th scope="col">Connection Port</th>
                                                            <th scope="col">Hard Drive Type</th>
                                                        </tr>
                                                        </thead>
                                                        {{hdr_forms.management_form}}
                                                        {% for form in hdr_forms %}
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                        <tbody>
                                                            <tr>
                                                            <th scope="row">{{ form.amount_required }}</th>
                                                            <td>{{ form.hard_drive_size }}</td>
                                                            <td>{{ form.classification }}</td>
                                                            <td>{{ form.connection_port }}</td>
                                                            <td>{{ form.hard_drive_type }}</td>
                                                            </tr>
                                                        </tbody>
                                                        {{form.errors}}
                                                        {% endfor %}
                                                </table>
                                                <br>
                                            </div>
                                        </div>

                                        <button 
                                            hx-post="{% url 'main:make_request' %}" 
                                            hx-target="#request-form"
                                            hx-swap="outerHTML"
                                            class="btn btn-success">
                                            Add
                                        </button>

                                        <div class="row">                               
                                            <div class="col">   
                                                <br> 
                                                
                                                <div class="form-group">
                                                    <label for="comments">Comments</label>
                                                    <textarea form="request" id="comments" class="form-control" rows="4" placeholder="Additonal comments" name="comments"></textarea>
                                                </div>
                                                    
                                                <br>
                                            </div>
                                        </div>
                                    </div>       
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="btn-block">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Request</button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</form>