<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maintainer Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/hdts.css' %}">
</head>
<body>
    
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col">
                <div class="jumbotron">
                    <h1>Hard Drive Tracker System</h1>      
                </div>
                <main class="content"> 
                    <h2 style="color:grey;">Welcome</h2> <br>
                    <button type="button" class="btn btn-primary">Return Hard Drives</button>
                    <h3>Pending Requests</h3>
                    <hr size="1" width="100%" color="grey">  

                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Reference No.</th>
                            <th scope="col">Status</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col">Last Modified Date</th>
                            <th scope="col">Need Drive By Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for request in requests %}
                            <tr>
                              <th scope="row">{{ request.request_reference_no }}</th>
                              <td>{{ request.request_status }}</td>
                              <td>{{ request.request_creation_date }}</td>
                              <td>{{ request.title }}</td>
                              <td>{{ request.title }}</td>
                            </tr>
                          {% empty %}
                          <h3>No listings found. Try again.</h3>
                          {% endfor %} 
                        </tbody>
                      </table>


                    <h3>Delinquent Hard Drives</h3>
                    <hr size="1" width="100%" color="grey">  

                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Hard Drive Serial Number</th>
                                <th scope="col">Expected Return Date</th>
                                <th scope="col">Associated Request No.</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for request in deliquentdrives %}
                                <tr>
                                  <th scope="row">{{ request.serial_number }}</th>
                                  <td>{{ deliquentdrive.expected_hard_drive_return_date }}</td>
                                  <td>{{ hard_drive.title }}</td>
                                </tr>
                              {% empty %}
                              <h3>No listings found. Try again.</h3>
                              {% endfor %} 
                            </tbody>
                    </table>


                </main>
            </div>
            <div class="col-2">
                <!-- A vertical navbar -->
                <nav class="navbar bg-light">
                    <!-- Links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'main:maintainer_view_request' %}">Request</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Configuration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Inventory</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Report</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Log</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'main:logout' %}">Sign Out</a>
                      </li>
                    </ul>
  
                </nav>
                <br>
            </div>
        </div>
    </div>

</body>
</html>
