{% extends "main/base.html" %}  

{% load bootstrap %}


{% block content %}
<main class="content">
  <div class="row">
     <div class="col-md-2">
      <div class="container-fluid" style="border:1px solid #cecece;">
         <form method="get">
            <br>
             <h4> Log Attribute</h4>
                {{log_filter.form.time_stamp | bootstrap}}
                {{log_filter.form.action_performed | bootstrap}}
                {{log_filter.form.user | bootstrap}}
             <h4>Keyword</h4>
             {{log_filter.form.keyword | bootstrap}}
             <button class="btn btn-primary" type="submit" style="width:100px;">Search</button>
             <br><br>
         </form>
      </div>
     </div>
     <div class="col">
        <div class="row">
           <div class="tableFixHead">
              <!-- Table -->
              <div class="scroller">
                 <table class="table table-hover">
                    <thead>
                       <tr>
                         <th scope="col">Time Stamp</th>
                          <th scope="col">Action Performed</th>
                          <th scope="col">User</th>
                       </tr>
                    </thead>
                    <tbody>
                       {% for log in Logs %}
                       <tr>
                          <td>{{log.time_stamp}}</td>
                          <td>{{log.action_performed}}</td>
                          <td>{{log.user.username}}</td>
                       </tr>
                       {% empty %}
                       <h3>No log found.</h3>
                       {% endfor %}
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
     <!-- Buttons -->
  </div>
  </body>
</main>
{% endblock %}
