{% extends "main/base.html" %}  

{% load bootstrap %}

{% block content %}
<main class="content">
  <div class="row">
   <div class="col-md-2">
      <div class="container-fluid" style="border:1px solid #cecece;">
         <form method="get">
            <br>
            <h3 style="font-size:18px;">Search and Filter</h3>
            <br>
            <div class="accordion" id="filterdropdown">
               <!-- Keyword Filter -->
               <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Keyword
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filterdropdown">
                    <div class="card-body">
                     {{log_filter.form.keyword | bootstrap}}
                    </div>
                  </div>
              </div>
              <br>
              <!-- Log Attribute Filter -->
              <div class="card">
                  <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                     <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Log Attribute
                     </button>
                  </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#filterdropdown">
                  <div class="card-body">
                     {{log_filter.form.time_stamp | bootstrap}}
                     {{log_filter.form.action_performed | bootstrap}}
                     {{log_filter.form.user | bootstrap}}
                  </div>
                  </div>
               </div>
               <br>
            </div>
             <button class="btn btn-primary" type="submit" style="width:100px;">Search</button>
             <br><br>
         </form>
      </div>
     </div>
     <div class="col">
        <div class="row">
           <div class="tableFixHead">
              <!-- Table -->
              <div class="scroller">
                 <table class="table table-hover">
                    <thead>
                       <tr>
                         <th scope="col">Time Stamp</th>
                          <th scope="col">Action Performed</th>
                          <th scope="col">User</th>
                       </tr>
                    </thead>
                    <tbody>
                       {% for log in Logs %}
                       <tr>
                          <td>{{log.time_stamp}}</td>
                          <td>{{log.action_performed}}</td>
                          <td>{{log.user.username}}</td>
                       </tr>
                       {% empty %}
                       <h3>No log found.</h3>
                       {% endfor %}
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
     <!-- Buttons -->
  </div>
  </body>
</main>
{% endblock %}
