{% extends "main/base.html" %}  

{% block content %}
<h3>Hard Drive Details</h3>
<!-- <div class="container-fluid" style="border:1px solid #cecece;"> -->
<form method="POST", action="/add_hard_drive/">
    {% csrf_token %}
    <div class="row">    
        <div class="col">
            <br>
            <div class="form-group">
                <h3>Hard Drive Specification</h3>
            </div>
            <div class="form-group">
                <label>Creation Date</label>
                <input type="date" class="form-control" name="creation_date">
            </div>
            <div class="form-group">
                <label>Hard Drive Serial No.</label>
                <input type="text" class="form-control" name="serial_No">
            </div>
            <div class="form-group">
                <label>Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" >
                <!--its suppose to be a dropdown: refer SRS page 42-->
            </div>
            <div class="form-group">
                <label>Model No.</label>
                <input type="text" class="form-control" name="model_NO" >
            </div>
            <div class="form-group">
                    <label>Hard Drive Type</label>
                    <input type="text" class="form-control" name="hard_drive_type">
                    <!--it suppose to be a dropdown: refer to SRS page 43-->
            </div>
            <div class="form-group">
                    <label>hard Drive Connection Port</label>
                    <input type="text" class="form-control" name="connection_port">
                    <!--it suppose to be a dropdown: refer to SRS page 42-->
            </div>
            <div class="form-group">
                <label>hard Drive Size</label>
                <input type="text" class="form-control" name="hard_drive_size">
                <!--its supposed to be a dropdown: Refer to SRS page 42. Cannot find the sizes-->
            </div>
            <div class="form-group">
                <h3>Hard Drive Modifier</h3>
                <label>Modifier</label>
                <input type="text" class="form-control" name="modifier">
            </div>
            <br>
        </div>     

        <div class="col">
            <br>
            <div class="form-group">
                <h3>Hard Drive Classification</h3>
                <div class="dropdown">
                    <label for="classification">Classification</label>
                    <select id="classification" name="classification">
                        <option value""disable selected></option>
                        <option value="1">Classified</option>
                        <option value="2">Unclassified</option>
                    </select>
                </div>
                <h3> </h3>
                <label for="startDate">Justification for Classification Change</label> 
                <input type="text" class="form-control" name="justification_for_classification_change" >
            </div>
            <h3>Hard Drive Image Content Area</h3>
            <div class="form-group">
                <h4>Hard Drive Image</h4>
            </div>
            <div class="form-group">
                <label>Image Version ID</label>
                <input type="text" class="form-control" name="image_version_id" >
            </div>
            <div class="form-group">
                <label>Boot Test Status</label>
                <input type="text" class="form-control" name="boot_test_status" >
                <!--supposed to be a drop down: refer to SRS page 42-->
            </div>
            <div class="form-group">
                <label>Boot Test Expiration Date</label>
                <input type="date" class="form-control" name="boot_test_expiration_date">
            </div>
            <h3>Hard Drive Condition</h3>
            <div class="dropdown">
                <label>Hard Drive Status</label>
                <select id="status" name="status">
                    <option value""disable selected></option>
                    <option value="1">Assigned</option>
                    <option value="2">Available</option>
                    <option value="3">End of Life</option>
                    <option value="4">Master Clone</option>
                    <option value="5">Pending Wipe</option>
                    <option value="6">Destroyed</option>
                    <option value="7">Lost</option>
                    <option value="8">Overdue</option>
                    <option value="9">Picked Up</option>
                    <option value="10">Returned</option>
                    <option value="11">Pending Classification Change Approval</option>
                </select>
            </div>
            <h3> </h3>
            <div class="form-group">
                <label>Justification for Hard Drive Status Change</label>
                <input type="text" class="form-control" name="justification_for_hard_drive_status_change" >
            </div>
            <div class="form-group">
                <label>Issue Date</label>
                <input type="date" class="form-control" name="issue_date">
            </div>
            <div class="form-group">
                <label>Expected Hard Drive Return Date</label>
                <input type="date" class="form-control" name="expected_hard_drive_return_date">
            </div>
            <div class="form-group">
                <label>Justification for Hard Drive Return Date</label>
                <input type="text" class="form-control" name="justification_for_hard_drive_return_date" >
                <!--missing file attachment-->
            </div>
            <input type="submit" class="btn btn-primary">
            <a class="btn" style="background-color:#4678B2;color:white;" href="{% url 'main:view_all_harddrives' %}">Close</a>
            <br>
        </div>       
    </div>
</form>   
{% endblock %}


