{% extends "main/base.html" %}  

{% block content %}

<ul class="list-group col-4">
    <h3>Hard Drive Types</h3>
    <form method="POST" action="{% url 'main:configuration' %}" id="hard-drive-type-form">
        {% csrf_token %}


            {% include 'components/hard_drive_types.html' %}
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{hard_drive_types_form.name}}
                <button
                    class="btn btn-success"
                    hx-post="{% url 'main:hard_drive_type' %}" 
                    hx-target="#hard-drive-types"
                    hx-swap="outerHTML" 
                    >
                    Add Hard Drive Type
                </button>
            </li>
    </form>
    <br>
    <br>

    <h3>Hard Drive Manufacturers</h3>
    <form method="POST" action="{% url 'main:configuration' %}" id="hard-drive-manufacturers-form">
        {% csrf_token %}
            {% include 'components/hard_drive_manufacturers.html' %}
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{hard_drive_manufacturers_form.name}}
                <button
                    class="btn btn-success"
                    hx-post="{% url 'main:hard_drive_manufacturers' %}" 
                    hx-target="#hard-drive-manufacturers"
                    hx-swap="outerHTML" 
                    >
                    Add Hard Drive Manufacturers
                </button>
            </li>
    </form>
    <br>
    <br>
    <h3>Hard Drive Connection Port</h3>
    <form method="POST" action="{% url 'main:configuration' %}" id="hard-drive-connection-port-form">
        {% csrf_token %}
            {% include 'components/hard_drive_connection_port.html' %}
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{hard_drive_connection_port_form.name}}
                <button
                    class="btn btn-success"
                    hx-post="{% url 'main:hard_drive_connection_port' %}" 
                    hx-target="#hard-drive-connection-port"
                    hx-swap="outerHTML" 
                    >
                    Add Hard Drive Connection Ports
                </button>
            </li>
    </form>

    <br>
    <br>
    <h3>Hard Drive Size</h3>
    <form method="POST" action="{% url 'main:configuration' %}" id="hard-drive-size-form">
        {% csrf_token %}
            {% include 'components/hard_drive_size.html' %}
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{hard_drive_size_form.name}}
                <button
                    class="btn btn-success"
                    hx-post="{% url 'main:hard_drive_size' %}" 
                    hx-target="#hard-drive-size"
                    hx-swap="outerHTML" 
                    >
                    Add Hard Drive size
                </button>
            </li>
    </form>

    <br>
    <br>
    <h3>Branch Chief</h3>
    <form method="POST" action="{% url 'main:configuration' %}" id="branch-chief-form">
        {% csrf_token %}
            {% include 'components/branch_chief.html' %}
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{branch_chief_form.name}}
                <button
                    class="btn btn-success"
                    hx-post="{% url 'main:branch_chief' %}" 
                    hx-target="#branch-chief"
                    hx-swap="outerHTML" 
                    >
                    Add Branch Chief
                </button>
            </li>
    </form>
</ul>

{% endblock %}