{% extends "main/base.html" %}  

{% block content %}

<h2 style="color:grey;">Welcome</h2> <br>
<a class="btn btn-primary" href="#" role="button">Return Hard Drives</a>
<h3>Pending Requests</h3>
<hr size="1" width="100%" color="grey">  

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Reference No.</th>
      <th scope="col">Status</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Last Modified Date</th>
      <th scope="col">Need Drive By Date</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <th scope="row">{{ request.request_reference_no }}</th>
        <td>{{ request.request_status }}</td>
        <td>{{ request.request_creation_date }}</td>
        <td>{{ request.request_last_modifed_date }}</td>
        <td>{{ request.need_drive_by_date }}</td>
      </tr>
    {% empty %}
      <h3>You have no requests at the moment</h3>
    {% endfor %} 
  </tbody>
</table>

<h3>Delinquent Hard Drives</h3>
<hr size="1" width="100%" color="grey">  

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Hard Drive Serial Number</th>
      <th scope="col">Expected Return Date</th>
      <th scope="col">Associated Request No.</th>
    </tr>
  </thead>
  <tbody>
    {% for request in deliquentdrives %}
      <tr>
        <th scope="row">{{ request.serial_number }}</th>
        <td>{{ request.expected_hard_drive_return_date }}</td>
        <td>{{ hard_drive.title }}</td>
      </tr>
    {% empty %}
      <h3>No delinquent hard drives at the moment</h3>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}
