<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maintainer Review Request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .jumbotron {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    .btn {
        margin-left:90%;
        margin-top:1%;
        width: 100px;
    }
    .content {
        display: flex;
        flex-direction: column;
        flex: 4;
        margin-left:3%;
        margin-right:3%;
    }
    .navbar{
        padding-bottom: 100%;
    }
    .assignment-table { 
        overflow-x: scroll; 
        max-width:1150px;
    }
    
  </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col">
                <div class="jumbotron">
                    <h2>Requests</h2>      
                </div>
                <main class="content"> 
                    <h3>Detailed View of a Selected Request</h3>
                    <div class="container-fluid" style="border:1px solid #cecece;">
                        <div class="row">                               
                            <div class="col">

                                <!-- Event Information Content Area -->
                                <div class="row">                               
                                    <div class="col-1">
                                        <br>
                                        <h4>Event Information</h4>
                                    </div>
                                    <div class="col">   
                                        <br> 
                                        <div class="container-fluid" style="border:1px solid #cecece;">
                                            <div class="row">    
                                                <div class="col">
                                                    <br>
                                                    <form>
                                                        <!-- Event Attributes Content Area -->
                                                        <h5>Event Attributes</h5> 
                                                        <div class="row" style="margin-left:1%;">   
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="eventName">Event Name</label>
                                                                    <input type="text" class="form-control" id="eventName" value={{event.title}} readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="eventDescription">Event Description</label>
                                                                    <textarea class="form-control" id="eventDescription" rows="3" readonly >{{event.title}}</textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="eventLocation">Event Location</label>
                                                                    <input type="text" class="form-control" id="eventLocation" value={{event.title}} readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="eventType">Event Type</label>
                                                                    <input type="text" class="form-control" id="eventType" value={{event.title}} readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="lengthOfReportingCycle">Length of Reporting Cycle</label>
                                                                    <input type="text" class="form-control" id="lengthOfReportingCycle" value={{event.title}} readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="eventStatus">Event Status</label>
                                                                    <input type="text" class="form-control" id="eventStatus" value={{event.title}} readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <br>
                                                </div>     

                                                <div class="col">
                                                    <br>
                                                        <!-- Event Dates Content Area -->
                                                        <h5>Event Dates</h5> 
                                                        <div class="row" style="margin-left:1%;">   
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="startDate">Event Start Date</label>
                                                                    <input type="date" class="form-control" id="startDate" value="2022-03-03" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="endDate">Event End Date</label>
                                                                    <input type="date" class="form-control" id="endDate" value="2022-03-06" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Event Participants Content Area -->
                                                        <h5>Event Participants</h5> 
                                                        <div class="row" style="margin-left:1%;">   
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="teamLeadName">Event Team Lead Name</label>
                                                                    <input type="text" class="form-control" id="teamLeadName" value={{ event.title }} readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="analystNames">Event Team Analyst Names</label>
                                                                    <input type="text" class="form-control" id="analystNames" value={{ event.title }} readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br>
                                                </div>       
                                            </div> 
                                        </div>

                                    </div>
                                </div>

                                <!-- Hard Drive Information Content Area -->
                                <!-- Hard Drive Requests Content Area -->
                                <div class="row">                               
                                    <div class="col-1">
                                        <br>
                                        <h4>Hard Drive Request</h4>
                                    </div>
                                    <div class="col">   
                                        <br> 
                                        <div class="container-fluid" style="border:1px solid #cecece;">
                                            <div class="row">    
                                                <div class="col">
                                                    <br>
                                                    <div class="assignment-table">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Hard Drive Classification*</th>
                                                                    <th scope="col">Amount Required*</th>
                                                                    <th scope="col">Connection Port Type</th>
                                                                    <th scope="col">Hard Drive Size</th>
                                                                    <th scope="col">Hard Drive Type*</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for request in hard_drive_requests %}
                                                                    <tr>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                    </tr>
                                                                {% empty %}
                                                                <h3>No hard drives found</h3>
                                                                {% endfor %} 
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br>
                                                </div>          
                                            </div> 
                                            <div class="row">                               
                                                <div class="col">   
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="comments">Comments</label>
                                                            <textarea class="form-control" id="comments" rows="3" readonly value="Description"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Hard Drive Assignment Content Area -->
                                <div class="row">                               
                                    <div class="col-1">
                                        <br>
                                        <h4>Hard Drive Assignment</h4>
                                    </div>
                                    <div class="col">   
                                        <br> 
                                        <div class="container-fluid" style="border:1px solid #cecece;">
                                            <div class="row">    
                                                <div class="col">
                                                    <br>
                                                    <div class="assignment-table">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Select All</th>
                                                                    <th scope="col">Creation Date</th>
                                                                    <th scope="col">Hard Drive Serial Number</th>
                                                                    <th scope="col">Manufacturer</th>
                                                                    <th scope="col">Model No.</th>
                                                                    <th scope="col">Hard Drive Type</th>
                                                                    <th scope="col">Hard Drive Connection Port</th>
                                                                    <th scope="col">Hard Drive Size</th>
                                                                    <th scope="col">Hard Drive Classification</th>
                                                                    <th scope="col">Justification for Hard Drive Classification Change</th>
                                                                    <th scope="col">Image Version ID</th>
                                                                    <th scope="col">Boot Test Status</th>
                                                                    <th scope="col">Boot Test Expiration Date</th>
                                                                    <th scope="col">Hard Drive Status</th>
                                                                    <th scope="col">Justification for Status Change</th>
                                                                    <th scope="col">Issue Date</th>
                                                                    <th scope="col">Expected Hard Drive Return Date</th>
                                                                    <th scope="col">Justification for Hard Drive Return Date Change</th>
                                                                    <th scope="col">Actual Hard Drive Return Date</th>
                                                                    <th scope="col">Request Reference</th>
                                                                    <th scope="col">Modifier</th>
                                                                    <th scope="col">Modified Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for request in hard_drives %}
                                                                    <tr>
                                                                            <td><input type="checkbox"></td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                            <td>{{ request.title }}</td>
                                                                    </tr>
                                                                {% empty %}
                                                                <h3>No hard drives at the moment</h3>
                                                                {% endfor %} 
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br>
                                                </div>          
                                            </div> 
                                            <div class="row">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>
                                            <div class="row">
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                </div>

                                <!-- Amendment Information Content Area -->

                                <div class="row">                               
                                    <div class="col-1">
                                        <br>
                                        <h4>Amendment Information</h4>
                                    </div>
                                    <div class="col">   
                                        <br> 
                                        <div class="container-fluid" style="border:1px solid #cecece;">
                                            <div class="row">    
                                                <div class="col">
                                                    <br>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="amendmentUser">User</label>
                                                            <input type="text" class="form-control" id="amendmentUser">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentSubmission">Amendment Submission Date</label>
                                                            <input type="date" class="form-control" id="startDate" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentDescription">Amendment Description</label>
                                                            <textarea class="form-control" id="amendmentDescription" rows="3" ></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" style="margin-left:0%;width:150px;">Submit Amendment</button>
                                                    </form>
                                                    <br>
                                                </div>     

                                                <div class="col">
                                                    <br>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="amendmentComment">Comment</label>
                                                            <textarea class="form-control" id="amendmentComment" rows="3" ></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentStatus">Amendment Status</label>
                                                            <select>
                                                                <option value=""disabled selected></option>
                                                                <option value="1" >Created</option>
                                                                <option value="2" >Approved</option>
                                                                <option value="2" >Denied</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                    <br>
                                                </div>       
                                            </div> 

                                                 <!-- Collapsible Amendment History Content Area -->
                                            <h5>Amendment History</h5> 
                                            <div class="row" style="margin-left:1%;">   
                                                <div class="col">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Timestamp</th>
                                                                <th scope="col">Username</th>
                                                                <th scope="col">Action Performed</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for amendment in amendments %}
                                                                <tr>
                                                                        <td>{{ amendment.title }}</td>
                                                                        <td>{{ amendment.title }}</td>
                                                                        <td>{{ amendment.title }}</td>
                                                                </tr>
                                                            {% empty %}
                                                            <h3>No amendments found</h3>
                                                            {% endfor %} 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                
                                <!-- Request Information Content Area -->

                                <div class="row">                               
                                    <div class="col-1">
                                        <br>
                                        <h4>Request Information</h4>
                                    </div>
                                    <div class="col">   
                                        <br> 
                                        <div class="container-fluid" style="border:1px solid #cecece;">
                                            <div class="row">    
                                                <div class="col">
                                                    <br>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="amendmentUser">Request Reference No.</label>
                                                            <input type="text" class="form-control" id="amendmentUser" value={{ request.title }} readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentSubmission">Requestor</label>
                                                            <input type="text" class="form-control" id="amendmentSubmission" value={{ request.title }} readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentUser">Request Creation Date</label>
                                                            <input type="text" class="form-control" id="amendmentUser" value={{ request.title }} readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentUser">Request Last Modified Date</label>
                                                            <input type="date" class="form-control" id="startDate" value="2022-02-18" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentUser">Request Updated By</label>
                                                            <input type="text" class="form-control" id="amendmentUser" value={{ request.title }} readonly>
                                                        </div>
                                                    </form>
                                                    <br>
                                                </div>     

                                                <div class="col">
                                                    <br>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="amendmentComment">Comment</label>
                                                            <textarea class="form-control" id="amendmentComment" rows="3" ></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="endDate">Need Drives By Date</label>
                                                            <input type="date" class="form-control" id="startDate" value="2022-02-18">
                                                            <i class="fas fa-calandar-alt"></i>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amendmentStatus">Request Status</label>
                                                            <select>
                                                                <option value=""disabled selected></option>
                                                                <option value="1" >Created</option>
                                                                <option value="2" >Forecasted</option>
                                                                <option value="1" >Confirmed</option>
                                                                <option value="2" >Approved</option>
                                                                <option value="1" >Declined</option>
                                                                <option value="2" >Delivered</option>
                                                                <option value="1" >Fulfilled</option>
                                                                <option value="2" >Partial-Returned</option>
                                                                <option value="1" >Closed</option>
                                                                <option value="2" >Canceled</option>
                                                                <option value="1" >Archived</option>
                                                                <option value="2" >Overdue</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                    <br>
                                                </div>       
                                            </div> 

                                                 <!-- Collapsible Request History Content Area -->
                                            <h5>Request History</h5> 
                                            <div class="row" style="margin-left:1%;">   
                                                <div class="col">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Timestamp</th>
                                                                <th scope="col">Username</th>
                                                                <th scope="col">Action Performed</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for log in request_logs %}
                                                                <tr>
                                                                        <td>{{ log.title }}</td>
                                                                        <td>{{ log.title }}</td>
                                                                        <td>{{ log.title }}</td>
                                                                </tr>
                                                            {% empty %}
                                                            <h3>No logs at the moment</h3>
                                                            {% endfor %} 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <br>
                            </div>          
                          </div> 
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-9">
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary">Close</button>
                        </div>
                        <div class="col-2">
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    
                    

                </main>
            </div>
            <div class="col-2">
                <!-- A vertical navbar -->
                <nav class="navbar bg-light">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Out</a>
                        </li>
                        
                    </ul>
  
                </nav>
                <br>
            </div>
        </div>
    </div>

</body>
</html>