{% extends "main/base.html" %}  

{% block content %}
{% load bootstrap %}

<main class="content" style="margin-left:0%;margin-right:0%;">
   <div class="row">
      <div class="col-md-2">
      <a class="btn" style="background-color:#4678B2;color:white;" href="{% url 'main:add_hard_drive' %}">Add New Hard Drive</a>
         <br><br>
      </div>
      <div class="col">
         <h3>Summary View of All Hard Drives</h3>
         <br><br>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2">
         <div class="container-fluid" style="border:1px solid #cecece;">
            <form method="get">
               <br>
               <h3 style="font-size:18px;">Search and Filter</h3>
               <br>
               <div class="accordion" id="filterdropdown">
                  <!-- Keyword Filter -->
                  <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Keyword
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filterdropdown">
                        <div class="card-body">
                           <!-- Need to add keyword search field -->
                        </div>
                      </div>
                  </div>
                  <br>
                  <!-- Hard Drive Attributes Filter -->
                  <div class="card">
                     <div class="card-header" id="headingTwo">
                       <h5 class="mb-0">
                         <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Hard Drive Attributes
                         </button>
                       </h5>
                     </div>
                     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#filterdropdown">
                       <div class="card-body">
                        {{hard_drive_filter.form.serial_number | bootstrap}}
                        {{hard_drive_filter.form.status | bootstrap}}
                        {{hard_drive_filter.form.image_version_id | bootstrap}}
                        {{hard_drive_filter.form.boot_test_status | bootstrap}}
                        {{hard_drive_filter.form.manufacturer | bootstrap}}
                        {{hard_drive_filter.form.model_number | bootstrap}}
                        {{hard_drive_filter.form.classification | bootstrap}}
                        {{hard_drive_filter.form.connection_port | bootstrap}}
                        {{hard_drive_filter.form.hard_drive_size | bootstrap}}
                        {{hard_drive_filter.form.hard_drive_type | bootstrap}}
                       </div>
                     </div>
                 </div>
                 <br>
                 <!-- User Filter -->
                 <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        User
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#filterdropdown">
                    <div class="card-body">
                     {{hard_drive_filter.form.modifier | bootstrap}}
                    </div>
                  </div>
              </div>
              <br>
                 <!-- Date Filter -->
                 <div class="card">
                     <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                           <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           Date
                           </button>
                        </h5>
                     </div>
                     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#filterdropdown">
                        <div class="card-body">
                           {{hard_drive_filter.form.create_date | bootstrap}}
                           {{hard_drive_filter.form.issue_date | bootstrap}}
                           {{hard_drive_filter.form.modified_date | bootstrap}}
                           {{hard_drive_filter.form.expected_hard_drive_return_date | bootstrap}}
                           {{hard_drive_filter.form.boot_test_expiration | bootstrap}}
                        </div>
                     </div>
                  </div>
                  <br>
               </div>
                <button class="btn btn-primary" type="submit" style="width:100px;">Search</button>
                <br><br>
            </form>
         </div>
      </div>
      <div class="col">
         <div class="row">
            <div class="tableFixHead">
               <!-- Table -->
               <div class="scroller">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           {% if not is_requestor %} 
                           <th scope="col">View</th>
                           {% endif %}
                           <th scope="col">Serial Number</th>
                           <th scope="col">Status</th>
                           <th scope="col">Manufacturer</th>
                           <th scope="col">Model No</th>
                           <th scope="col">Classification</th>
                           <th scope="col">Connection Port</th>
                           <th scope="col">Size</th>
                           <th scope="col">Type</th>
                        </tr>
                     </thead>
                     <tbody>
                       {% for hard_drive in hard_drives %}
                       <tr>
                           {% if not is_requestor %} 
                           <td><a class="btn" 
                              style="background-color:grey;color:white;" 
                              href="{% url 'main:view_hard_drive' hard_drive.id %}">View</a></td>
                           {% endif %}
                          <td>{{hard_drive.serial_number}}</td>
                          <td>{{hard_drive.status}}</td>
                          <td>{{hard_drive.manufacturer}}</td>
                          <td>{{hard_drive.model_number}}</td>
                          <td>{{hard_drive.classification}}</td>
                          <td>{{hard_drive.connection_port}}</td>
                          <td>{{hard_drive.hard_drive_size}}</td>
                          <td>{{hard_drive.hard_drive_type}}</td>
                       </tr>
                       {% empty %}
                       <h3>No hard drives found.</h3>
                       {% endfor %}
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
  </div>
  </body>
</main>
{% endblock %}
