{% extends "main/base.html" %}  

{% load bootstrap %}

{% block content %}
<main class="content">
  <div class="row">
     <div class="col">
        <!--FILTERING-->
        <div class="row">
           <div class="col">
              <div class="card card-body">
                 <form method="get">
                  <div class="form-row">
                     <div class="form-group col-md-2">
                       {{profileFilter.form.fname|bootstrap}}
                     </div>
                     <div class="form-group col-md-2">
                        {{profileFilter.form.lname|bootstrap}}
                     </div>
                     <div class="form-group col-md-2">
                        {{profileFilter.form.email_address|bootstrap}}
                     </div>
                   </div>
                   <div class="form-row">
                     <div class="form-group col-md-2">
                       {{profileFilter.form.user_name|bootstrap}}
                     </div>
                     <div class="form-group col-md-2">
                        {{profileFilter.form.last_modified_date|bootstrap}}
                     </div>
                     <div class="form-group col-md-2">
                        {{profileFilter.form.groups|bootstrap}}
                     </div>
                   </div>
                   <div class="form-row">
                     <div class="form-group col-md-2">
                        <button class="btn btn-primary" type="submit">Search</button>
                     </div>
                  </div>
                 </form>
              </div>
           </div>
        </div>
        <!-- Title -->
        <div class="row">
            <h3>Summary View of User Profiles</h3>
        </div>
        <br>
        <div class="row">
           <div class="tableFixHead">
              <!-- Table -->
              <div class="scroller">
                 <table class="table table-hover">
                    <thead>
                       <tr>
                         <th scope="col">View</th>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">User Role</th>
                          <th scope="col">User Profile Status</th>
                          <th scope="col">Last Modified Date</th>
                       </tr>
                    </thead>
                    <tbody>
                       {% for profile in userProfiles %}
                       <tr>
                          <td><a class="btn" 
                              style="background-color:grey;color:white;" 
                              href="">View</a></td>
                          <td>{{profile.username}}</td>
                          <td>{{profile.email}}</td>
                          <td>{{profile.username}}</td>
                          <td>{{profile.username}}</td>
                          <td>{{profile.date_joined}}</td>
                       </tr>
                       {% empty %}
                       <h3>No user profiles found.</h3>
                       {% endfor %}
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
        <!-- Buttons -->
        <br>
        <br>
         <div class="row">
            <div class="col-1">
               <div class="row">
                  <a class="btn" style="background-color:#4678B2;color:white;" href="">Add</a>
               </div>
            </div>
         </div>
     </div>
  </div>
  </body>
</main>
{% endblock %}
