{% extends "main/base.html" %}  

{% block content %}
<h3>Hard Drive Details</h3>
<!-- <div class="container-fluid" style="border:1px solid #cecece;"> -->
<form method="POST", action="" >
    {% csrf_token %}
    <div class="row">    
        <div class="col">
            <br>
            <div class="form-group">
                <h4>Hard Drive Specification</h4>
            </div>
            {% if view_hard_drive %}
            <div class="form-group">
                <label>Creation Date</label>
                {{form.create_date}}
            </div>
            {% endif %}
            <div class="form-group">
                <label>Hard Drive Serial No.</label>
                {{ form.serial_number}}
            </div>
            <div class="form-group">
                <label>Manufacturer</label>
                {{ form.manufacturer}}
                <!--its suppose to be a dropdown: refer SRS page 42-->
            </div>
            <div class="form-group">
                <label>Model No.</label>
                {{form.model_number}}
            </div>
            <div class="form-group">
                    <label>Hard Drive Type</label>
                    {{form.hard_drive_type}}
                    <!--it suppose to be a dropdown: refer to SRS page 43-->
            </div>
            <div class="form-group">
                    <label>Hard Drive Connection Port</label>
                    {{form.connection_port}}
                    <!--it suppose to be a dropdown: refer to SRS page 42-->
            </div>
            <div class="form-group">
                <label>Hard  Drive Size</label>
                {{form.hard_drive_size}}
                <!--its supposed to be a dropdown: Refer to SRS page 42. Cannot find the sizes-->
            </div>
            {% if view_hard_drive %}
            <div class="form-group">
                <h3>Hard Drive Modifier</h3>
                <label>Modifier</label>
                {{form.modifier}}
                <!--Not sure what exactly is supposed to go here.   -->
                <br>

                <label>Modifier Date</label>
                {{form.modified_date}}
            </div>
            {% endif %}
            <br>
        </div>     

        <div class="col">
            <br>
            <div class="form-group">
                <h3>Hard Drive Classification</h3>
                <div class="dropdown">
                    <label for="classifixcation">Classification</label>
                    {{form.classification}}
                </div>
                <h3> </h3>
                <label for="startDate">Justification for Classification Change</label> 
                {{form.justification_for_classification_change}}
            </div>
            <h3>Hard Drive Image Content Area</h3>
            <div class="form-group">
                <label>Hard Drive Image</label>
                {{form.hard_drive_image}}
            </div>
            <div class="form-group">
                <label>Image Version ID</label>
                {{form.image_version_id}}
                {{form.image_version_id.errors}}
            </div>
            <div class="form-group">
                <label>Boot Test Status</label>
                {{form.boot_test_status}}
                <!--supposed to be a drop down: refer to SRS page 42-->
            </div>
            <div class="form-group">
                <label>Boot Test Expiration Date</label>
                {{form.boot_test_expiration}}
            </div>
            <h3>Hard Drive Condition</h3>
            <div class="dropdown">
                <label>Hard Drive Status</label>
                <!--This needs to be a drop down. This can be done via text choices.-->
                {{form.status}}
                {{form.status.errors}}
            </div>
            <h3> </h3>
            <div class="form-group">
                <label>Justification for Hard Drive Status Change</label>
                {{form.justification_for_hard_drive_status_change}}
            </div>
            <div class="form-group">
                <label>Issue Date</label>
                {{form.issue_date}}
            </div>
            <div class="form-group">
                <label>Expected Hard Drive Return Date</label>
                {{form.expected_hard_drive_return_date}}
            </div>
            <div class="form-group">
                <label>Justification for Hard Drive Return Date</label>
                {{form.justification_for_hard_drive_return_date}}
                <!--missing file attachment-->
            </div>
            <div class="form-group">
                <label>Actual Return Date</label>
                {{form.actual_return_date}}
            </div>
            {% if not only_view %}
            <input type="submit" class="btn btn-primary">
            {% endif %}
            <a class="btn" style="background-color:#4678B2;color:white;" href="{% url 'main:view_all_harddrives' %}">Close</a>
            <br>
        </div>       
    </div>
</form>   
{% endblock %}