{% extends "main/base.html" %}  

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="row">
            <button type="submit" class="btn btn-primary" style="margin-left:5%; width: 120px;">Clone Request</button>
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="margin-left:5%; width: 120px;">Add Request</button>
        </div>
        <br>
    </div>
    <div class="col">
        <br>
        <br>
        <h3>Summary View of Requests</h3> 
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <!--FILTERING-->
        <div class="row">
           <div class="col">
              <div class="container-fluid" style="border:1px solid #cecece;">
                 <form method="get">
                    <br>
                    <h3 style="font-size:18px;">Search and Filter</h3>
                    <br>
                    <div class="accordion" id="filterdropdown">
                        <!-- Keyword Filter -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Keyword
                                </button>
                              </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filterdropdown">
                              <div class="card-body">
                                {{request_filter.form.request_keyword | bootstrap}}
                                {{event_filter.form.event_keyword | bootstrap}}
                              </div>
                            </div>
                        </div>
                        <br>
                        <!-- Request Filter -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Request Attribute
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#filterdropdown">
                                <div class="card-body">
                                    {{request_filter.form.request_reference_no | bootstrap}}
                                    {{request_filter.form.request_status | bootstrap}}
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Event Filter -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Event Attribute
                                </button>
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#filterdropdown">
                              <div class="card-body">
                                {{event_filter.form.event_name | bootstrap}}
                                {{event_filter.form.event_type | bootstrap}}
                              </div>
                            </div>
                        </div>
                        <br>
                        <!-- Date Filter -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                              <h5 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Date
                                </button>
                              </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#filterdropdown">
                              <div class="card-body">
                                {{event_filter.form.event_start_date | bootstrap}}
                                {{event_filter.form.event_end_date | bootstrap}}
                              </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <button class="btn btn-primary" type="submit" style="width:100px;">Search</button>
                    <br><br>
                 </form>
              </div>
           </div>
        </div>
        <br>
      </div>   
    <div class="col">
        <main class="content" style="margin-left:0%;margin-right:0%;">
            <div class="row">                               
                <div class="col">
                    <div class="row">                               
                        <div class="col">   
                            <div class="tableFixHead">
                                <!-- Table -->
                                <div class="scroller">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col">Reference No.</th>
                                            <th scope="col">Request Creation Date</th>
                                            <th scope="col">Event Start Date</th>
                                            <th scope="col">Event End Date</th>
                                            <th scope="col">Need Drive Due by Date</th>
                                            <th scope="col">Event Name</th>
                                            <th scope="col">Event Description</th>
                                            <th scope="col">Event Type</th>
                                            <th scope="col">Request Status</th>
                                            <th scope="col">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, value in data.items %}
                                                <tr>
                                                <td>{{key.request_reference_no}}</td>
                                                <td>{{key.request_creation_date}}</td>
                                                <td>{{value.event_start_date}}</td>
                                                <td>{{value.event_end_date}}</td>
                                                <td>{{key.need_drive_by_date}}</td>
                                                <td>{{value.event_name}}</td>
                                                <td>{{value.event_description}}</td>
                                                <td>{{value.event_type}}</td>
                                                <td>{{key.request_status}}</td>  
                                                <td> <a class="btn" style="background-color:grey;color:white;"  href="{% url 'main:view_request' key.request_reference_no %}">View </a></td>
                                                </tr>
                                            {% empty %}
                                                <h3>No requests found.</h3>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">                               
                        <div class="col-1">
                        </div>
                        <div class="col">   
                            <br> 
                        </div>
                    </div>
                    <br>
                </div>
            </div> 
        </main>
    </div>    
</div>


 

{% endblock %}